body{
	margin: 0;
	background-color: #444;

	
}
.responsive-loader{
	display: flex;
	justify-content: center;align-items: center;
}
.main__header{
	background-color: orangered;
	position: sticky;
	top: 0;
	z-index: 100;
	opacity: .9;
	padding: .6em;
	transition: .7s;
}
.main__header:hover{
	cursor: pointer;
	opacity: .7;
	transition: .7s;
}
.image-media{
	border-radius: 5px;
}
.container-responsive{
	display: flex;
 	justify-content: center;
	transform: scale(.9);
	align-items: center;

}
.container-media{ 
	/*text-align: center;*/
 	 /*min-width: 55%;*/
	 
}
.title-media{
	margin:-.5em 0 1em;
	font-family: sans-serif;
	font-size: 22px;
}
.description-name{
	margin:0;
	margin: .7em 0 1em 0;
	font-family: sans-serif;
	background-color: orangered;
	padding: .3em;
	transform: scale(.9);
	border-radius: 10px;
}
.description-media{
/*	margin:0 0 .2em 0;
	font-family: sans-serif;*/
	font-family: Arial;
	font-size: 18px;
	line-height: 22px;

}
.item{
	text-align: left;
	list-style: none;
	margin-top: .3em;
}
.container{
	border-radius: 10px;
	text-align: center;
	background-color: #222;
	color: #ddd;
	padding: 2em;transition: 7s;
}
.container:hover{
	transform: scale(.9);
	transition: .3s;
	opacity: .7;
}
@media screen and (min-width: 500px){
 
	.container-media{
		width: 450px;
	}
}
/*
@media screen and (min-width: 700px){
	.container{
	 	padding: 2em;
	}
	.container-responsive{
		width: 100%;
		

	}*/
	/*.container-media{
		width: 40%;

		max-width: 70%;
	}*/
/*}
@media screen and (max-width: 600px){
	.container-media{
	 transform: scale(.9);
 	max-width: 100%;
	}
}*/
.title-page{
	margin: 0;

	text-align: center;
	color: white;
	font-family: Arial;
	font-size: 26px;
	transform: scale(.8);
	font-weight: 1000;
	animation: anim-title 2s linear infinite;
 
}
@media screen and (min-width: 200px){
	.image-media{
		width: 100%;
	}	
}
@keyframes anim-title{
	to{
		opacity: .4;		
	}
}


.find-article{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1.5em;
	flex-direction: column;
}
.find-media{
	border-radius: 6px;
	width: 100%;
	text-align: center;
	font-size: 15px;
	font-family: sans-serif;
	font-weight: 600;
	padding: .7em;
	border: 0px solid orangered;
	background-color: #ddf;
	color: #222;
	margin-bottom: .5em;
}
.btn-send{
	width: 200px;
	border: 0;
	padding: .3em;
	border-radius: 4px;
	margin-bottom: 1em;
	font-family: sans-serif;
	font-size: 18px;
	color: white;
	background-color: red;
	font-weight: 600;
	transition: .7s;
}
.btn-send:hover{
	background-color: orange;
	transition: .7s;
	cursor: pointer;
}
.scale{
	transform: scale(.8);
	transition: transform 4s;
}



 





